@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    /*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>*/
    <li class="li">
        <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><div>Hello @User.Identity.Name!</div></a>
    </li>
    <li class="li">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="btn-item-nav">Sair</button>
        </form>
    </li>
    /*<li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
        </form>
    </li>*/
}
else
{
    <li class="li">
        <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Login"><div>Login</div></a>
    </li>
    <li class="li">
        <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Register"><div>Registrar</div></a>
    </li>
    /*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>*/
}