@model SisGerenciador.src.Models.Turma

@{
    ViewData["Title"] = "Edit";
}

<h1>Edição</h1>

<h4>Turma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DisciplinaOfertadaId" class="control-label"></label>
                <select asp-for="DisciplinaOfertadaId" class="form-control" asp-items="ViewBag.DisciplinaOfertadaId"></select>
                <span asp-validation-for="DisciplinaOfertadaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocenteId" class="control-label"></label>
                <select asp-for="DocenteId" class="form-control" asp-items="ViewBag.DocenteId"></select>
                <span asp-validation-for="DocenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
