@model SisGerenciador.src.Models.GradeCurricular

@{
    ViewData["Title"] = "Edit";
}

<h1>Edição</h1>

<h4>GradeCurricular</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoCurricularId" class="control-label"></label>
                <select asp-for="PeriodoCurricularId" class="form-control" asp-items="ViewBag.PeriodoCurricularId"></select>
                <span asp-validation-for="PeriodoCurricularId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaId" class="control-label"></label>
                <select asp-for="DisciplinaId" class="form-control" asp-items="ViewBag.DisciplinaId"></select>
                <span asp-validation-for="DisciplinaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
