@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Este é nosso projeto  <a href="https://github.com/rayssasandrade/SistemaGerenciadorDeDisciplinas">Conheça-o melhor!</a>.</p>
</div>
